.layui-body{
	left:15px;
	right:15px;
}
body {
    background-color: #f2f2f2;
    font-size: 1.25rem;
    line-height: 1.5;
}

.site-tree-mobile {
    position: fixed;
    z-index: 16666669;
    bottom: 15px;
    left: 15px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 2px;
    text-align: center;
    background-color: #009688;
    color: #fff;
}

.site-huidaodingbu {
    position: fixed;
    z-index: 16666669;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 2px;
    text-align: center;
    background-color: #fff;
    color: #009688;
    box-shadow: 10px 10px 5px 0px #888888;
}

.site-mobile .site-menu {
    left: 0;
}

.layui-nav-side {
    position: fixed;
    top: 0;
    bottom: 0;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    left: -300px;
    background-color: #fff;
    transition: all .3s;
}

.site-menu {
    height: 100%;
}

.left-menu {
    display: none;
}